:root {
    --cor-0: #FFFFFF;
    --cor-1: #D8BFD8;
    --cor-1-b: #ecdfbb;
    --cor-2: #cac6b5;
    --cor-2-b: #cac6b5;
    --cor-3: #F7F7F7;
    --cor-4: #141414;
    --cor-5: #5e554b;
    --cor-6: #ecdfbb;
    --cor-7: #cac6b5;
    --cor-8: #938766;
    --cor-9: #6f6657;
    --cor-10: #5e554b;

}

.cor-0 {
    color: var(--cor-0);
}
.cor-1 {
    color: var(--cor-1);
}
.cor-1-b {
    color: var(--cor-1-b);
}
.cor-2 {
    color: var(--cor-2);
}
.cor-2-b {
    color: var(--cor-2-b);
}
.cor-3 {
    color: var(--cor-3);
}
.cor-4 {
    color: var(--cor-4);
}
.cor-5 {
    color: var(--cor-5);
}
.cor-6 {
    color: var(--cor-6);
}
.cor-7 {
    color: var(--cor7);
}
.cor-8 {
    color: var(--cor-8);
}
.cor-9 {
    color: var(--cor-9);
}
.cor-10 {
    color: var(--cor-10);
}